<table class="table">
    <tr>
        <td>
            <span class="field-title">Assignee</span>
            <i class="edit-btn fa fa-pen"></i>
        </td>
        <td>
              <input type="text" class="line-textbox" value="Umar Shareef"/>
        </td>
    </tr>
    <tr>
        <td>
            <span class="field-title">Status</span>
            <i class="edit-btn fa fa-pen"></i>
        </td>
        <td>
            <select class="line-textbox">
                <option value="N">New</option>
                <option value="I">In Progress</option>
                <option value="C">Closed</option>
                <option value="A">Approved</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><span class="field-title">Start Time</span>
             <i class="edit-btn fa fa-pen"></i></td>
        <td>
            22 minutes ago
        </td>
    </tr>
    <tr>
        <td>
            <span class="field-title">Due Date</span>
            <i class="edit-btn fa fa-pen"></i>
        </td>
        <td>
            In 27 days
        </td>
    </tr>
</table>



@code {

}
