@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
  /*  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/******************************* Shared **********************************/

.im-btn {
    background: rgb(117,32,112);
    background: linear-gradient(0deg, rgba(117,32,112,1) 0%, rgba(12,0,106,1) 88%);
    color: white;
}

.line-textbox {
    border: none;
    border-bottom: 1px solid #9e9e9e;
}

/********************************* Login Page ****************************/

.login-page {
    width: 100vw;
    color: #1a237e;
    overflow: hidden;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    /*  background-color: #1a237e;*/
}

 .login-container .form-group {
     width:60%;
 }

.login-logo {
    height: 100vh;
    background: rgb(117,32,112);
    background: linear-gradient(0deg, rgba(117,32,112,1) 0%, rgba(12,0,106,1) 88%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ***********************   Nav ***************************/

.navbar {
    background: rgb(117,32,112);
    background: linear-gradient(0deg, rgba(117,32,112,1) 10%, rgba(12,0,106,1) 60%);
    /* padding: 10px 30vw*/
}
.navbar-toggler {
    color: white;
}
.navbar .nav-link {
    color: white;
}
.nav-item i{
    color:white;
}
.nav-item.icon{
    display:flex;
    width:2.5vw;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
 
   /* margin-top:0.5vh;*/
}
.badge.badge-pill {
    background: rgb(6,85,9);
    background: linear-gradient(90deg, rgba(6,85,9,1) 50%, rgba(26,199,42,1) 80%);
    color: white;
}
.logout-icon{
    color:orangered !important;
}

@media (max-width:980px) {
    .nav-item.icon {
        margin-top: 1vh;
    }
}

/* Small devices  */
@media (min-width: 300px) {
    
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
   
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .nav-item.icon {
       
        margin-left: 30px;
        /* margin-top:0.5vh;*/
    }
}

/* Computer */
@media (min-width: 1500px) {

    
}

/********************************    Pagination *******************************/

.pagination li a {
    color: #1a237e;
}

.pagination .page-item.active .page-link {
    background-color: #1a237e;
}

.pagination li {
    cursor:pointer;
}
/* Small devices  */
@media (min-width: 300px) {
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .page-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* Computer */
@media (min-width: 1500px) {

    .page-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


}