@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager _navManager

<div class="page">
    @if(!string.IsNullOrEmpty(token) )
    {
       @* <div class="sidebar">
            <NavMenu />
        </div>*@
    }

    <div class="main">
        @if (!string.IsNullOrEmpty(token))
        {          
            <Navbar></Navbar>
        }

        <div class="">
            @Body
        </div>
    </div>
</div>

@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }

    string token = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await localStorage.GetItemAsStringAsync("token");
            if (token == null){
                navigationManager.NavigateTo("/");              
            }
            StateHasChanged();

        }
    }

}
