@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager _navManager

<div class="page">
    @if(!string.IsNullOrEmpty(token) )
    {
       @* <div class="sidebar">
            <NavMenu />
        </div>*@
    }

    <div class="main">
        @if (!string.IsNullOrEmpty(token))
        {
            @*<div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@
            <Navbar></Navbar>
        }

        <div class="">
            @Body
        </div>
    </div>
</div>

@code {
    string token = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await localStorage.GetItemAsStringAsync("token");
            StateHasChanged();
        }
    }

    
    

}
