
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div  id="info" class="text-success records-info">Showin from 1 to 5 of 64 records (13 pages)</div>
    </div>
    <div  class="col-sm-12 col-md-2">
        <div  style="margin-top: 5px;">
            <span >Page Size :</span>
            <select  id="pageSizeDdl" class="browser-default dropdown-custom">
                <option value="5" selected="" >5</option>
                <option value="10" >10</option>
                <option value="20" >20</option>
                <option value="30" >30</option>
                <option value="40" >40</option>
                <option value="50" >50</option>
                <option value="100">100</option>
            </select>
           </div>
           </div>
           <div _ngcontent-luy-c78="" class="col-sm-12 col-md-6">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item"><a  href="#" class="page-link">Previous</a></li>
              
                <li class="page-item"><a  href="#" class="page-link active"> 1 </a></li>
                <li class="page-item"><a  href="#" class="page-link"> 2 </a></li>
                <li class="page-item"><a  href="#" class="page-link"> 3 </a></li>
                <li class="page-item"><a  href="#" class="page-link"> 4 </a></li>              
                <li  class="page-item"><span  class="page-link">...</span></li>               
                <li  class="page-item"><a _ href="#" class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

@code {

}
