@page "/Dashboard"

<div class="container px-8">
    <br />
    <div class="report-title">Dashboard</div>
    <br />

     <div class="container">     
          <KpiBar> </KpiBar>
          <div class="row">
            <OverallWidget> </OverallWidget>
            <LastFiveIncidents> </LastFiveIncidents>
          </div>

          <div class="row">
           <MostAssignedByUser> </MostAssignedByUser>
           <LastFiveIncidents> </LastFiveIncidents>
           
          </div>

        </div>


</div>

@code {

}
